.landing {
    &-header {
        width: 100%;
        height: max-content;
        &-content {
            margin: 0 auto;
            padding: 0 48px 0 84px;
        }
        &-logo {
            padding: 13px 0;
            display: flex;
            align-items: center;
            float: left;
            img {
                width: 58px;
            }
            span {
                margin-left: 12px;
                color: @color-text-light;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.05em;
            }
        }
        &-nav {
            float: right;
            a {
                padding: 0 24px;
                line-height: 84px;
                font-size: 17px;
                color: @color-text-light;
                font-weight: 600;
                transition: 150ms ease;
            }
            a:hover {
                cursor: pointer;
                color: lighten(@color-text-light, 15%);
            }
            &-button {
                display: inline;
                margin-left: 24px;
                .el-button {
                    font-size: 14px;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    &-desc {
        max-width: 1200px;
        max-height: 920px;
        padding: 68px 0px 72px 0;
        margin: 0 auto;
        user-select: none;
        -webkit-user-drag: none;
        &-text {
            font-size: 36px;
            letter-spacing: 0.1em;
            font-weight: 600;
            text-align: center;
            color: @color-primary;
            &-small {
                font-size: 32px;
                color: lighten(@color-primary, 7.5%);
            }
        }
        &-screenshot {
            margin-top: 72px;
            position: relative;
            box-shadow: 0 -120px 32px -108px rgba(0, 0, 0, 0.075);
            img {
                width: 100%;
            }
            &-mask {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(rgba(255,255,255,0) 50%, rgba(255,255,255,1) 80%);
            }
        }
    }
    &-download {
        width: 100%;
    }
}