@editor-height: 260px;
@side-width: 272px;

.app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  &-aside {
    width: @side-width;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.015);
    border-right: 1px solid @color-gray-border;
    z-index: 10;
    &-content {
      flex: 1;
    }
    &-tabs {
      height: 48px;
      flex-shrink: 0;
    }
  }
  &-main {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &-top {
      flex: 1;
      height: calc(100vh - @editor-height);
    }
    &-bottom {
      position: relative;
      height: @editor-height;
      flex-shrink: 0;
    }
    &-bottom__collapsed {
      height: 48px;
    }
  }
}

// components
@import './note.less';
@import './tabs.less';
@import './editor.less';
@import './category.less';
@import './user.less';