.note-editor {
  height: 100%;
  z-index: 5;
  border-top: 1px solid @color-gray-border;
  padding: 12px 16px 24px 16px;
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  &-header {
    display: flex;
    align-items: center;
    color: @color-text-regular-light;
    flex-basis: 32px;
    line-height: 32px;
    flex-shrink: 0;
    user-select: none;
    span {
      display: block;
      font-size: 15px;
      flex: 1;
    }
    &-ctrl {
      justify-content: flex-end;
      i {
        font-size: 22px;
        transition: 100ms;
      }
      i:hover {
        color: lighten(@color-text-regular-light, 5%);
        cursor: pointer;
      }
    }
  }
  &-main {
    margin-top: 8px;
    position: relative;
    flex: 1;
    box-sizing: border-box;
    textarea {
      width: 100%;
      height: 100%;
      text-align: justify;
      border: 0;
      padding: 8px 10px;
      resize: none;
      font-weight: 400;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      letter-spacing: 0.05em;
      color: @color-text-regular-light;
      background: #fdfdfd;
      box-sizing: border-box;
    }
    textarea::-webkit-scrollbar {
      width: 6.5px;
    }
    textarea::-webkit-scrollbar-track-piece {
      background-color: #fdfdfd;
    }
    textarea::-webkit-scrollbar-thumb {
      border-radius: 9px;
      background-color: lightgray;
    }
    textarea::-webkit-scrollbar-button {
      display: none;
    }
    textarea:focus {
      outline: 0;
    }
    label {
      position: absolute;
      right: 8px;
      bottom: 8px;
      font-size: 8px;
      color: #bababa;
      user-select: none;
      pointer-events: none;
    }
  }
}

.note-editor-collapsed {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  border-top: 1px solid @color-gray-border;
  &__ctrl {
    flex: 1;
    text-align: right;
    margin-right: 24px;
    color: @color-text-regular-light;
    font-size: 22px;
    i {
      transition: 100ms
    }
    i:hover {
      color: lighten(@color-text-regular-light, 5%);
      cursor: pointer;
    }
  }
}